.footer {
    background-color: #563440; 
    color: #fff; 
    text-align: center;
    padding: 10px 0;
}
  
.feedback-callout {
    margin-bottom: 20px; 
    font-size: 1.5rem; 
}
  
.contact-info {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
  
.address, .phone, .email, .social {
    display: flex;
    flex-direction: column;
}
  
.social-icons {
    display: flex;
    justify-content: center;
    height: 40px;
    width: auto;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px; 
    display: inline-flex; 
}
  
  
.social-icons svg {
    height: 24px !important; 
    width: 24px !important; 
}
  
