.mood-section {
    padding: 20px;
    background-color: #D7DEDC; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
  
  .mood-title {
    flex-basis: 40%; 
  }
  
  .mood-content {
    flex-basis: 60%; 
  }
  
  
  @media (max-width: 768px) {
    .mood-section {
      flex-direction: column; 
    }
  
    .mood-title, .mood-content {
      flex-basis: 100%; 
    }
  }
  